/* 
font-color: rgb(73, 80, 87);
color: rgb(241, 95, 34);
background-color:  rgb(248, 246, 244);
*/
* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: black;
  font-family: LLCircularWeb, Helvetica Neue, Helvetica, Arial, Lucida Grande;
}
h1,
h2,
h3,
h4,
h5,
.accordion-body,
.accordion-button {
  font-family: LLCircularWeb;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-family: LLCircularWeb;
}

body {
  line-height: 1.5;
  color: rgb(73, 80, 87);
  letter-spacing: 0.25px;
  width: 100%;
  overflow-x: hidden;
}

/* orange color to text xpert */
.Xpert {
  color: rgb(241, 95, 34);
}

.myHeader {
  height: 110vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.myHeader-home {
  background-image: url("../imgs/bookkeeping.png");
}

.myHeader-backlog {
  background-image: url("../imgs/backlogaccountingbg.png")";
}

.myHeader-bookkeeping {
  background-image: url("../imgs/bookkeepingbg.png");
}

.myHeader-cashflow {
  background-image: url("../imgs/cashflowbg.png");
}

.myHeader-cloudaccounting {
  background-image: url("../imgs/cloudbasedaccountingbg.png");
}
.myHeader-financing {
  background-image: url("../imgs/monthlyfinancialreportingbg.png");
}
.myHeader-payable {
  background-image: url("../imgs/accountspayablebg.png");
}
.myHeader-payroll {
  background-image: url("../imgs/payrollbg.png");
}
.myHeader-receivable {
  background-image: url("../imgs/accountsreceivablebg.png");
}
.myHeader-reconcilliations {
  background-image: url("../imgs/reconciliationsbg.png");
}
.myHeader-pricing {
  height: 10vh;
}

.dropdown-item {
  width: 25em;
  font-size: large;
}

/* for the content in main page */
.test {
  padding-top: 20rem;
}

/* mak enavbar small */
.myHeader .nav-item .nav-link {
  color: rgb(0, 3, 3);
  margin: 0 0.5rem;
}

.dropdown-menu .dropdown-item {
  font-family: Poppins, sans-serif, Consolas, "Courier New", monospace;
  font-size: small;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* navbar hover effect to change color and border  */
.nav-item .nav-link:hover {
  color: rgba(241, 96, 34, 0.705);
}

body,
html {
  height: 100%;
  margin: 0;
}

.description,
.d-row {
  align-content: center;
  height: 100%;
}

/* Makes the animation pause on hover */
.moving-text:hover {
  animation-play-state: paused;
}

/* The animation */
@keyframes marquee {
  0% {
    transform: translateX(10%);
  }
  10% {
    transform: translateX(20%);
  }
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .moving-text {
    animation: marquee 5s linear infinite;
  }
}

.afternav {
  display: flex;
  align-items: flex-end;
}
.afternav p {
  font-size: 18px;
  color: rgb(253, 126, 20);
}

.blink {
  animation: blinker 1.5s linear infinite;
  color: red;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*--------------------------------------------------------------
******************** Certification section
--------------------------------------------------------------*/
.certification {
  margin: 40px 10px;
  font-size: 16px;
  line-height: 1.8;
}
.btn-schedule {
  border: 1px solid wheat;
  border-radius: 50px;
  background-color: rgba(226, 84, 24, 0.925);
  padding: 10px 10px 10px 10px;
}
.btn-schedule a {
  color: white;
  text-decoration: none;
}
.btn-schedule:hover {
  background-color: rgb(41, 21, 7);
}
/*--------------------------------------------------------------
******************** Booking-services section
--------------------------------------------------------------*/
.services {
  background-color: rgb(248, 246, 244);
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 50px;
}

.services-header {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .services-header h2 {
    margin-bottom: 50px;
  }
}

.service-image {
  display: flex;
  justify-content: center;
}

/*--------------------------------------------------------------
******************** Booking section
--------------------------------------------------------------*/
.booking {
  font-size: 26px;
  line-height: 45px;
  margin-bottom: 50px;
}
.booking-header {
  margin-bottom: 30px;
}

.steps {
  font-size: 20px;
  color: rgb(241, 95, 34);
  border-radius: 5rem;
}

.booking .image img {
  height: 50vh;
  width: auto;
}
/*--------------------------------------------------------------
******************** Testimonials
--------------------------------------------------------------*/
.testimonial {
  border: 1px solid rgb(225, 225, 231);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 1px 3px 0px 1px;
}
.testimonial-text,
.testimonial-footer {
  color: rgb(47, 48, 52);
  font-family: LLCircularWeb, serif;
  font-size: 1rem;
  line-height: 1.6875rem;
  position: relative;
  text-align: align;
  padding: 0;
}

.testimonial-text {
  padding: 0;
  text-align: justify;
}

.testimonial-footer {
  align-items: flex-end;
  padding: 0 0 7px 20px;
}
.testimonial-pic {
  padding: 0;
}

.testimonial-pic img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.testimonial-pic-desc {
  font-size: 11px;
  margin: 0;
  height: 100%;
  line-height: 15px;
}

/*------------------------------------------------------------
******************** Features
--------------------------------------------------------------*/
.features {
  background-color: rgb(248, 246, 244);
  padding: 10px;
}

.features h2 {
  padding-top: 50px;
  font-weight: 500;
  text-align: center;
}

.features h5 {
  margin-top: 10px;
}
.card {
  border: none;
  text-align: center;
}

.features .card-body {
  background-color: rgb(248, 246, 244);
  padding: 0px 30px;
}

/*--------------------------------------------------------------
# FAQs
--------------------------------------------------------------*/

.faqHeading {
  text-align: center;
}

.accordion-button {
  color: rgb(0, 0, 0);
  background-color: white;
}

.accordion-item {
  line-height: 1.8;
  background-color: rgb(248, 246, 244);
  border: solid rgb(248, 246, 244) 1px;
}

.accordion-button:not(.collapsed) {
  box-shadow: 0;
  border-radius: 0;
  color: rgb(8, 8, 8);
  background-color: white;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.accordion-button:focus {
  border-color: white;
  outline: 0 !important;
  box-shadow: 0;
}

/* .accordion-button::after{
    font-size: small;
    height: 15px;
    width: 15px;
 } */

.footer {
  height: auto;
  width: auto;
  background: linear-gradient(
    rgba(255, 115, 0, 0.164),
    rgba(119, 109, 109, 0.452),
    rgba(117, 75, 13, 0.425)
  );
  /* background-image: url(/imgs/footer.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

.footer a {
  text-decoration: none;
  font-size: 14px;
  line-height: 10pt;
  color: black;
}

.footer-right a {
  font-size: 22px;
}
.footer-right i {
  color: rgb(241, 95, 34);
}
